In [ ]:
set = {1, 2,2,34,True}

In [ ]:
print(set)

{1, 2, 34}

{'1': 'dict1', '2': 'dict2'}

In [ ]:
dict = { "1":"dict1" ,"2":"dict2"}
for i,j in dict.items():
    print(i,j)

1 dict1
2 dict2