In [2]:
import pandas as pd 
import numpy as np

In [3]:
data = pd.read_csv("cust_satisfaction.csv")
data.head()

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,Male,Loyal Customer,Personal Travel,Eco Plus,neutral or dissatisfied,13,460,5,4,5,25,18.0
1,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied,25,235,1,3,1,1,6.0
2,Female,Loyal Customer,Business travel,Business,satisfied,26,1142,5,4,5,0,0.0
3,Female,Loyal Customer,Business travel,Business,neutral or dissatisfied,25,562,2,3,2,11,9.0
4,Male,Loyal Customer,Business travel,Business,satisfied,61,214,3,4,3,0,0.0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103904 entries, 0 to 103903
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Gender                      103904 non-null  object
 1   Customer Type               103904 non-null  object
 2   Type of Travel              103904 non-null  object
 3   Class                       103904 non-null  object
 4   satisfaction                103904 non-null  object
 5   Age                         103904 non-null  int64
 6   Flight Distance             103904 non-null  int64
 7   Inflight entertainment      103904 non-null  int64
 8   Baggage handling            103904 non-null  int64
 9   Cleanliness                 103904 non-null  int64
 10  Departure Delay in Minutes  103904 non-null  int64
 11  Arrival Delay in Minutes    103594 non-null  float64
dtypes: float64(1), int64(6), object(5)
memory usage: 9.5+ MB

In [6]:
data.describe()

,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
count,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103594.000000
mean,39.379706,1189.448375,3.358158,3.631833,3.286351,14.815618,15.178678
std,15.114964,997.147281,1.332991,1.180903,1.312273,38.230901,38.698682
min,7.000000,31.000000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,27.000000,414.000000,2.000000,3.000000,2.000000,0.000000,0.000000
50%,40.000000,843.000000,4.000000,4.000000,3.000000,0.000000,0.000000
75%,51.000000,1743.000000,4.000000,5.000000,4.000000,12.000000,13.000000
max,85.000000,4983.000000,5.000000,5.000000,5.000000,1592.000000,1584.000000

In [8]:
data.shape

(103904, 12)

In [10]:
data.columns

Index(['Gender', 'Customer Type', 'Type of Travel', 'Class', 'satisfaction',
       'Age', 'Flight Distance', 'Inflight entertainment', 'Baggage handling',
       'Cleanliness', 'Departure Delay in Minutes',
       'Arrival Delay in Minutes'],
      dtype='object')

In [12]:
data['Customer Type'].unique()

array(['Loyal Customer', 'disloyal Customer'], dtype=object)

In [ ]:
data.isnull().sum()

Gender                          0
Customer Type                   0
Type of Travel                  0
Class                           0
satisfaction                    0
Age                             0
Flight Distance                 0
Inflight entertainment          0
Baggage handling                0
Cleanliness                     0
Departure Delay in Minutes      0
Arrival Delay in Minutes      310
dtype: int64

In [ ]:
data.dropna(inplace=True)

In [14]:
data[data.duplicated()]

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
2741,Male,Loyal Customer,Business travel,Business,satisfied,56,1535,5,5,3,0,0.0
5228,Male,disloyal Customer,Business travel,Eco,satisfied,20,861,2,5,2,0,0.0
6278,Female,disloyal Customer,Business travel,Business,satisfied,21,448,2,5,2,0,0.0
7330,Male,Loyal Customer,Business travel,Business,satisfied,49,258,4,4,4,0,0.0
8405,Male,Loyal Customer,Business travel,Business,satisfied,53,2149,4,4,3,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
102110,Male,Loyal Customer,Business travel,Business,satisfied,45,1389,5,5,3,0,0.0
102327,Male,Loyal Customer,Business travel,Business,satisfied,56,444,5,5,5,1,0.0
102679,Female,Loyal Customer,Business travel,Business,satisfied,44,862,5,5,5,0,0.0
102801,Male,Loyal Customer,Business travel,Business,satisfied,48,3354,4,4,4,0,0.0
103627,Male,Loyal Customer,Business travel,Business,satisfied,46,945,4,4,4,0,0.0

In [15]:
data.drop_duplicates(inplace=True)

In [16]:
data.shape

(103732, 12)

In [18]:
import matplotlib.pyplot as plt
import seaborn as sns
plt.figure(figsize=(10,6))
sns.heatmap(data.corr(),annot=True)

ValueError: could not convert string to float: 'Male'